@use "../globals" as *;
@use "sass:math";
@use "font" as *;

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-gray: #{$color-gray};
  --color-border: #{$color-border};
}
// The following are the evolution stage

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

input {
  @include input-style;
}

button,
input [type="submit"] {
  @include btn_input-style_type-submit;
}

// Up to this point, the evolution stage

html {
  font-size: math.div($root-font-size, 16px) * 100%;
  height: 100%;
}

body {
  font-family: $textsub-font-family;
  font-family: $text-font-family;
  font-weight: 400;
  overflow: hidden;
}

#pageContainer {
  height: 100vh;
}

#asides {
  position: relative;
  z-index: 10;
  font-size: 14px;
}

.side {
  position: fixed;
  z-index: 999;
  top: 0;
  // right: 0;

  color: #dadada;
  height: 100vh;
  pointer-events: none;

  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  @include html-style;
  @include noMarginLastChild;
}

a {
  @include a;
}

::placeholder {
  color: var(--color-white);
}

.Heading {
  @include HeadingStyle;
}

img {
  @include img-style;
}

.Logo {
  @include LogoStyle;
}

.sm-visible {
  @include xlsize-style;
}

.sm-hidden {
  @include smHidden-style;
}

.content-wide {
  @include contentWide-style;
}

.content-narrow {
  @include contentNarrow-style;
}

main {
  @extend .content-wide;
  overflow: hidden;
  position: relative;
  // top: calc(var(--header-height) * -1);
}

#section-announcement {
  background-color: var(--color-black);
  color: var(--color-white);

  .AnnouncementBar {
    position: relative;
    z-index: 1;
    text-align: center;

    &__Wrap {
      padding: 11px 14px;
    }

    &__Content {
      color: inherit;
    }
  }
}

.test {
  color: var(--color-white);
}

.Footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color-white);
  top: var(--footer-top);
  position: relative;
  // top: 1000px;

  &__Content {
    @extend .content-wide;
    display: flex;
    flex-wrap: wrap;
    padding: 39px 14px 29px;

    @include mq_max("lg") {
      flex-direction: column;
      padding: 48px 24px 40px;
    }

    &__sns {
      margin-right: 149px;

      @include mq_max("lg") {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 0;
      }

      & .logo-sns {
        display: flex;
        padding-top: 29px;

        @include mq_max("lg") {
          padding-top: 0;
          padding-left: 24px;
        }
      }

      & .logo-link {
        width: 21px;
        height: 21px;

        & a {
          display: block;
          color: inherit;
        }
      }

      & .logo-link + .logo-link {
        margin-left: 20px;
      }
    }
  }

  &__Logo {
    font-size: fluid-text(8px, 16px);
  }

  &__Logo--Link {
    display: inline-block;

    @include mq_max("lg") {
      display: inline-block;
      width: auto;
    }
  }

  & li {
    line-height: initial;
    list-style: none;
  }
}

.Footer__Content__right {
  display: flex;
  flex-grow: 1;

  @include mq("xl") {
    margin-top: 39px;
  }

  @include mq_max("lg") {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  @include mq_max("xl") {
    margin-top: 32px;
  }

  &__links {
    display: flex;
    flex-grow: 1;

    @include mq_max("lg") {
      flex-direction: column;
      margin-top: 40px;
    }

    & .Link-title {
      @include mq_max("lg") {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
      }
    }

    & .Link-title-text {
      margin-bottom: 24px;
      font-size: 14px;
      font-weight: 700;

      @include mq_max("lg") {
        padding-right: 8px;
        margin-bottom: 0;
      }
    }

    & .Link-list {
      @include mq_max("lg") {
        box-sizing: border-box;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
      }
    }

    & .Link-list-link {
      @include mq_max("lg") {
        margin-top: 16px;
      }
      & a {
        font-size: 13px;
      }
    }

    & .Link-list-link + .Link-list-link {
      @include mq_max("lg") {
        margin-top: 16px;
      }
      margin-top: 15px;
    }

    & .Link + .Link {
      @include mq_max("lg") {
        padding-left: 0;
        margin-top: 24px;
      }
      padding-left: 64px;
    }
  }

  &__news {
    max-width: 400px;
    @include mq_max("lg") {
      margin-top: 32px;
    }
    @include mq_max("xl") {
      margin-top: 40px;
    }

    & .News-Title {
      @include mq_max("lg") {
        margin-bottom: 8px;
      }
      margin-bottom: 24px;
      font-size: 14px;
      font-weight: 700;
    }

    & .News-Text {
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 10px;
    }

    & .News-btn {
      @include mq_max("lg") {
        flex-direction: column;
      }
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }

    & .News-btn-mail {
      @include mq_max("lg") {
        display: flex;
        align-items: center;
        border: 1px solid var(--color-white);
      }
      display: flex;
      align-items: center;
      border: 1px solid var(--color-white);
    }

    & .News-btn-mail-input {
      @include mq_max("lg") {
        width: 100%;
      }

      width: 190px;
      height: 40px;
      padding: 14px 0 14px 12px;
      background-color: transparent;
      border: none;
      outline: none;
    }

    & .News-btn-mail-btn {
      position: relative;
      width: 40px;
      height: 40px;
      border-left: 1px solid var(--color-white);

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        content: "";
        border-top: solid 1px var(--color-white);
        border-right: solid 1px var(--color-white);
        transform: translate(-50%, -50%) rotate(45deg);
      }
    }

    & .News-btn-line-wrap {
      @include mq_max("lg") {
        margin-top: 16px;
      }
      width: 150px;
      max-height: 42px;
      border: 1px solid var(--color-white);
    }

    & .News-btn-line {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-white);
    }

    & .News-btn-text {
      padding-left: 7px;
      font-size: 12px;
      font-weight: 600;
      line-height: 40px;
      color: var(--color-black);
      text-align: center;
    }
  }
  & .News-btn-alert {
    @include mq_max("lg") {
      max-width: 100%;
    }
  }
}

.Footer__CopyRight {
  @include mq_max("lg") {
    padding: 24px;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 64px;
  border-top: solid 1px rgb(222 229 236 / 20%);

  &__text {
    margin: 0 auto 0 0;
    font-size: 11px;
  }
}
