@use "../globals" as *;

.FlexboxFix {
  display: flex;
  flex-direction: row;
}

// var is not supported in scss
// this shoud be used in js for variables
// this should be used in js for media queries
.PageHeader--large.PageHeader--withBackground {
  @include mq("md") {
    min-height: 480px;
  }
}
.PageHeader--large.PageHeader--withBackground {
  @include mq("xl") {
    min-height: 620px;
  }
}

.PageHeader--large.PageHeader--withBackground {
  @include mq("md") {
    min-height: calc(410px + var(--header-height) * 0);
    min-height: calc(
      410px + var(--header-height) * var(--header-is-transparent, 0)
    );
  }
  @include mq("xl") {
    min-height: calc(520px + var(--header-height) * 0);
    min-height: calc(
      520px + var(--header-height) * var(--header-is-transparent, 0)
    );
  }
}

// this should be used in js for media queries
.PageHeader--withBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 450px;
  margin: 0;
  overflow: hidden;
  color: #fff;
  background-size: cover;

  @include mq("md") {
    min-height: 450px;
    margin-top: 0;
    margin-bottom: 0;

    min-height: calc(380px + var(--header-height) * 0);
    min-height: calc(
      380px + var(--header-height) * var(--header-is-transparent, 0)
    );
  }
  @include mq("xl") {
    min-height: calc(450px + var(--header-height) * 0);
    min-height: calc(
      450px + var(--header-height) * var(--header-is-transparent, 0)
    );
  }
}

.PageHeader {
  position: relative;
  margin: 35px 0;
  @include mq("md") {
    margin: 50px 0;
  }
  @include mq("xl") {
  }
}

.Image--contrast {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: linear-gradient(
      to top,
      rgba(4, 4, 4, 0.65),
      rgba(54, 54, 54, 0.2)
    );
  }
}

.Image--contrast > * {
  z-index: 1;
}

.PageHeader__ImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}

.PageHeader__ImageWrapper {
  top: 0px;
  top: calc(
    -1 * var(--announcement-bar-height, 0px) - var(--header-height, 0px) * var(--use-unsticky-header, 0)
  );
  height: calc(100% + 0px);
  height: calc(
    100% + var(--announcement-bar-height, 0px) + var(--header-height, 0px) *
      var(--use-unsticky-header, 0)
  );
}

.Image--fadeIn {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Image--lazyLoaded.Image--fadeIn {
  opacity: 1;
}
