@use "../globals" as *;
@use "../parts/font" as *;
// @use "../globals/" as *;

body {
  @include mq("lg") {
    background-color: red;
  }
}

.slide {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.fv {
  aspect-ratio: 16/9;
  position: relative;
  top: calc(var(--header-height) * -1);
  width: 100%;
  height: auto;

  &_main {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &_holder {
    position: relative;
    // position: absolute;
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    // margin-bottom: 10%;
  }

  &_slider {
    aspect-ratio: 16/9;
  }

  &_content {
    font-size: fluid-text(10px, 100px);
    position: absolute;
    // max-width: 200px;
    // width: 100%;
    // width: 3em;
    height: 3em;
    text-align: center;
    z-index: 100;

    left: auto;
    transform: none;
    bottom: 0%;
  }

  &_text {
    &-shader {
      position: absolute;
      display: block;
      margin-left: 1em;
      pointer-events: none;

      aspect-ratio: 1/ 1;
      font-size: fluid-text(10px, 100px);
      width: 2em;
      height: 2em;
      bottom: 0%;
    }
  }
}
