.fv {
  position: relative;
  // position: absolute;
  height: 100vh;
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;

  &_content {
    font-size: 1rem;
    position: absolute;
    // max-width: 200px;
    // width: 100%;
    width: 10rem;
    text-align: center;
    margin: 0 auto;
    margin: 0;
    z-index: 100;

    // top: auto;
    left: auto;
    transform: none;
    // top: 0%;
    // left: 0%;
    bottom: 0%;
    // transform: translate(-50%, -50%);
    // bottom: 0%;
    // left: 20%;
    // margin-bottom: 10%;
  }

  &_text {
    &-shader {
      display: block;
      margin-left: 1em;
      pointer-events: none;
      width: 100%;
     
      aspect-ratio: 1/ 1;
    }
  }

  &_main {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
  }

  &_holder {
    position: relative;
    // position: absolute;
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    // margin-bottom: 10%;
  }

  &_slider {
    aspect-ratio: 16/9;
  }
}
