@use "home";
@use "common";
@use "menu";

body {
  margin: 0;
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#page-container {
  margin: 0;
  height: 100vh;
}

.fv_main {
  margin: 0;
}

.fv_holder {
  margin: 0;
}

.fv_slider {
  margin: 0;
}
