@use "../globals" as *;
@use "../parts/font" as *;

body {
  @include mq("lg") {
    // background-color: red;
  }
}

.fv {
  position: relative;
  top: calc(0px - var(--fv-top));
}

.aspect-ratio-container {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  overflow: hidden;
}
