@use "./variables" as *;
@use "./mq" as *;

@mixin list-template {
  &:nth-child(n) {
    border-top: none;
  }
  &:nth-child(1) {
    border-top: 1px solid var(--border-color);
  }
  border-bottom: 1px solid var(--border-color);
}

@mixin body-style {
  margin: 0;
  font-family: $heading-font-family;
  letter-spacing: 0.05em;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-text);
  &::-webkit-scrollbar {
    display: none;
  }
}

@mixin html-style {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: $textsub-font-family;
}

@mixin HeadingStyle {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

@mixin img-style {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}



@mixin a {
  text-decoration: none;
  color: var(--color-text);
}

@mixin noMarginLastChild {
  &:last-child {
    margin-bottom: 0;
  }
}

@mixin LogoStyle {
  display: flex;
  justify-content: center;
  align-items: center;

  &__Icon {
    width: 3.0em;
    margin-right: 1em;
  }

  &__Text {
    width: 20em;
  }
}

@mixin xlsize-style {
  @include mq("xl") {
    display: none;
  }
}

@mixin smHidden-style {
  @include mq("sm") {
    display: block;
  }
}

@mixin contentWide-style {
  width: 95%;
  margin: 0 auto;
  // margin: 0;
  max-width: to-rem(1600px);
}

@mixin contentNarrow-style {
  width: 55%;
  margin: 0 auto;
  max-width: to-rem(1200px);
}

@mixin header-style {
  color: var(--color-text);
  // background-color: transparent;
}

@mixin header__wrap-style {
}

@mixin header__flexItem-style {
}
