@use "./variables";

@mixin list-template {
  &:nth-child(n) {
    border-top: none;
  }
  &:nth-child(1) {
    border-top: 1px solid var(--border-color);
  }
  border-bottom: 1px solid var(--border-color);
}

@mixin p-style {
  color: blue;
}

@mixin body-style {
  margin: 0;
  font-family: $heading-font-family;
  letter-spacing: 0.05em;

  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  // color: var(--)
}
