$c-white: #ffffff;
$c-black: #000000;
$c-gray: #868686;
$c-border: #dadada;

$default-min-bp: 320px;
$default-max-bp: 1200px;

$root-font-size: 16px;

$heading-font-family: 'Archivo Narrow', sans-serif;
$text-font-family: 'Archivo Narrow', sans-serif;
$textsub-font-family: 'Noto Serif JP', serif;


:root {
    --border-color: #{$c-border};
  }