$color-white: #ffffff;
$color-black: #000000;
$color-gray: #868686;
$color-border: #dadada;

$default-min-bp: 320px;
$default-max-bp: 1200px;

$root-font-size: 16px;

$heading-font-family: "Archivo Narrow", sans-serif;
$text-font-family: "Archivo Narrow", sans-serif;
$textsub-font-family: "Noto Serif JP", serif;
