@use "../globals" as *;
@use "sass:math";

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-gray: #{$color-gray};
  --border-color: #{$color-border};
}

html {
  // font-size: 100%;
  // font-size: math.div($root-font-size, 1rem) * 1rem;
  font-size: math.div($root-font-size, 16px) * 100%;
  // font-size: 300%;
  // font-size: 50px;
}

body {
  @include body-style;
}

#asides {
  position: relative;
  z-index: 10;
  font-size: 14px;
}

.side {
  position: fixed;
  z-index: 999;
  top: 0;
  // right: 0;

  color: #dadada;
  height: 100vh;
  pointer-events: none;

  &_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#canvas {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  @include html-style;
}

img {
  @include img-style;
}

.sm-visible {
  @include xlsize-style;
}

.sm-hidden {
  @include smHidden-style;
}

.content-wide {
  @include contentWide-style;
}

.content-narrow {
  @include contentNarrow-style;
}

main {
  @extend .content-wide;
}

#header {
  @include header-style;
  // position: sticky;
  position: relative;
  top: 0px;
  left: 0;
  // z-index: 5;
  width: 100%;
}

.header__wrap {
  @include header__wrap-style;
}

.header__flexItem {
  @include header__flexItem-style;
  flex: 1 0 0;
  align-items: center;
  display: flex;
}

.Header__Icon,
.Icon--nav {
  width: 20px;
  height: 15px;
  position: absolute;
}
svg {
  overflow: hidden;
}

button {
  padding: 0;
  // overflow: visible;
}

.Icon {
  display: inline-block;
}
