@use "../globals" as *;
@use "sass:math";
@use "font" as *;

#header {
  opacity: 1;

  @include header-style;
  // position: relative;
  top: 0px;
  left: 0;
  z-index: 1000;
  width: 100%;
  position: sticky;
  display: block;
}

.Header__MainNav--open {
  opacity: 1;
}

nav {
  //   display: none;
  //   @include mq("xl") {
  //     display: block;
  //   }
}

.Header {
  box-shadow: 0 -1px rgba(255, 255, 255, 0.25) inset;

  &--white {
    background-color: var(--color-white);
    color: var(--color-black);
  }
}

.Header__MainNav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 18px;
  text-align: center;

  margin-right: 45px;
  opacity: 0;
  //   @include mq("xl") {

  //     opacity: 1;
  //   }
}

.HorizontalList {
  margin-right: 0;
  margin-left: 0;

  overflow: visible;

  margin: -6px -8px;
  list-style: none;

  &--spacer {
    margin-left: 21px;
    margin-right: 21px;
  }

  &__Item {
    margin-left: 21px;
    margin-right: 21px;
    margin: 6px 18px;
  }
}

.horizontal-top-menu {
  & li > a > .mm-angle-down {
    display: inline-block;
  }
}

ul {
  padding: 0;
}

.top-menu-item {
  display: inline-block;

  & a {
    & .mm-title {
      padding: 0 2px 0 4px;
      white-space: nowrap;
    }
  }

  & .mm-title {
    vertical-align: middle;
    display: inline;
  }
}

li {
  text-align: -webkit-match-parent;
}

li.top-menu-item {
  position: relateive;
  z-index: 1000;

  & a {
    cursor: pointer;
    position: relative;
    border: 0;
    min-width: auto;
  }

  & span {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    text-indent: initial;
    border: 0;
    overflow: visible;
    color: inherit;
  }
}

.u-h6 {
  font-size: 16px;
}

.mm-arrow {
  padding: 0 5px;

  &:before {
    display: inline-block;
    content: "";
    border: solid var(--color-text);
    border-width: 0 2px 2px 0;
    border-radius: 0 1px 1px 0;
    padding: 4px;
  }
}

.mm-angle-down.mm-arrow {
  &:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

// ⭐️ 過去のコード　verified
.Heading {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: $heading-font-family;
  color: inherit;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.Header__Wrap {
  // box-shadow: 0 -1px rgba(255, 255, 255, 0.25) inset;
  @include header__wrap-style;
  padding: 18px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header__FlexItem {
  display: flex;
  margin-bottom: 0px;
}

.Header__FlexItem--increaseSpace {
  @include mq("xl") {
    margin-bottom: 80px;
  }
}

.Header__FlexItem--fill {
  @include header__flexItem-style;
  flex: 1 0 0;
  &:last-child {
    justify-content: flex-end;
  }
  align-items: center;
}

.Icon--Wrap--clickable {
  &:before {
    position: absolute;
    content: "";
    top: -8px;
    right: -12px;
    bottom: -8px;
    left: -12px;
    transform: translateZ(0);
  }
}

svg {
  overflow: hidden;
  max-width: fit-content;
}

button {
  padding: 0;
  overflow: visible;
  &:active {
    outline: none;
    border: none;
  }
}

.Header__Entrance {
  //   @include mq("xl") {
  //     opacity: 0;
  //   }
}

.Header__Entrance--open {
  opacity: 0;
}

.Header__EntranceLogo--open {
  opacity: 0;
}

.Header__Logo {
  position: relative;
  margin-bottom: 0;
}

.Header__LogoLink {
  display: block;
  text-align: center;
}

.Header__LogoImage {
  max-width: 28px;
  margin: 0 auto;
}

.Header__LogoImage--transparent {
  position: absolute;
  top: 0;
  left: 0;
}

.Logo__gray {
  opacity: 0;
  width: 28px;
  height: 29px;
}

.Logo__white {
  opacity: 1;
}

.Header__Icon {
  display: inline-block;
  line-height: 1;
  // display: block;

  & span {
    display: block;
  }

  & .Icon--cart {
    width: 19px;
    height: 23px;
  }

  & svg {
    filter: drop-shadow(0 1px rgba(0, 0, 0, 0.25));
  }
}

// span {
//   &.hidden-tablet-and-up {
//  display: block;
//   }
// }

.Icon--Wrap--clickable {
  position: relative;
  background-color: transparent;
}

.Icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  pointer-events: none;
  background: none;
  fill: currentColor;
  stroke-width: 1px;
}

.Header__secondaryNav {
  display: none;

  @include mq("xl") {
    display: block;
  }
}

.HorizontalCartList {
  margin: -5px -10px;
  list-style: none;
}

.HorizontalCartList--space {
  margin-right: -10px;
  margin-left: -10px;

  & .HorizontalCartList__Item {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.HorizontalCartList__Item {
  display: inline-block;
  margin: 5px 10px;
}

.Header--white {
  & .Header__FlexItem {
    margin-bottom: 50px;
  }
}
