@use "../globals" as *;
@use "sass:math";
@use "font" as *;

#header {
    opacity: 1;
  
  
    @include mq("lg") {
      transition: opacity 4.5s;
      opacity: 0;
    }
  
    @include header-style;
    // position: relative;
    top: 0px;
    left: 0;
    z-index: 1000;
    width: 100%;
    position: sticky;
    display: block;
  }
  
  .Header__Wrap {
    @include header__wrap-style;
    padding: 18px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .Header__FlexItem {
    display: flex;
  }
  
  .Header__FlexItem--fill {
    @include header__flexItem-style;
    flex: 1 0 0;
    &:last-child {
      justify-content: flex-end;
    }
    align-items: center;
  }
  
  .Header__Icon,
  .Icon--nav {
    width: 20px;
    height: 15px;
    position: absolute;
  }
  svg {
    overflow: hidden;
  }
  
  button {
    padding: 0;
    overflow: visible;
    &:active {
      outline: none;
      border: none;
    }
  }
  
  .Icon {
    display: inline-block;
  }