@use "../globals/" as *;

.home-panels {
  display: grid;
  gap: 1px 1px;
  margin: 1px 0;

  @include mq_max("lg") {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 16px;
    margin: 16px 14px;
  }
}

.home-panel {
  position: relative;

  &:hover .home-panel-heading::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:first-child {
    grid-column: 1/3;
  }

  @include mq_max("lg") {
    width: calc((100% - 28px) / 3);
  }

  & .home-panel-image {
    width: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
  }

  .home-panel-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    color: var(--color-white);
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include mq_max("lg") {
      font-size: 28px;
    }

    &::after {
      position: absolute;
      bottom: -8px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: "";
      background-color: var(--color-white);
      border-radius: 1px;
      transition: transform 0.3s ease-in-out;
      transform: scaleX(0);
      transform-origin: right center;
    }
    // &:hover::after {
    //   transform: scaleX(1);
    //   transform-origin: left;
    // }
  }
}
