body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-istok-web: "Istok Web";
  /* font sizes */
  --font-size-xs: 12px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  /* Colors */
  --color-white: #fff;
  --color-gainsboro-100: #d9d9d9;
  --color-gray-100: #7e7e7e;
  --color-gray-200: rgba(255, 255, 255, 0);
  --color-black: #000;
  /* border radiuses */
  --br-8xs: 5px;
}

.background-img-icon {
  position: absolute;
  top: 40px;
  left: 0;
  width: 1280px;
  height: 572px;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: white;
}

.b,
.sliderbutton-icon {
  position: absolute;
  left: 36px;
}

.sliderbutton-icon {
  top: 589px;
  width: 76px;
  height: 8px;
}

.b {
  top: 564px;
  letter-spacing: 0.05em;
}

.read-more-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 170.69px;
  height: 50px;
}

.read-more1 {
  top: 9px;
  left: 13px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144.83px;
  height: 32.76px;
}

.men,
.read-more,
.read-more1 {
  position: absolute;
}

.men:hover {
  color: gray;
}

.read-more {
  top: 508px;
  left: 36px;
  width: 170.69px;
  height: 50px;
  text-align: center;
  color: var(--color-gray-100);
}

.men {
  height: 100%;
  width: 5.47%;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  display: inline-block;
}

.sub-menu-child {
  position: absolute;
  height: 18.34%;
  width: 0.87%;
  top: 33.42%;
  right: 95.24%;
  bottom: 48.24%;
  left: 3.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.women {
  position: absolute;
  height: 100%;
  width: 9.48%;
  top: 0;
  left: 12.49%;
  letter-spacing: 0.05em;
  display: inline-block;
}

.sub-menu-item {
  position: absolute;
  height: 18.34%;
  width: 0.87%;
  top: 33.42%;
  right: 80.11%;
  bottom: 48.24%;
  left: 19.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.history {
  position: absolute;
  height: 100%;
  width: 10.76%;
  top: 0;
  left: 28.99%;
  letter-spacing: 0.05em;
  display: inline-block;
}

.sub-menu-inner {
  position: absolute;
  height: 18.34%;
  width: 0.87%;
  top: 33.42%;
  right: 62.88%;
  bottom: 48.24%;
  left: 36.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.work-out {
  position: absolute;
  height: 100%;
  width: 13.4%;
  top: 0;
  left: 46.86%;
  letter-spacing: 0.05em;
  display: inline-block;
}

.vector-icon {
  position: absolute;
  height: 18.34%;
  width: 0.87%;
  top: 33.42%;
  right: 43.37%;
  bottom: 48.24%;
  left: 55.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.location {
  position: absolute;
  height: 100%;
  width: 12.22%;
  top: 0;
  left: 67.27%;
  letter-spacing: 0.05em;
  display: inline-block;
}

.sub-menu-child1 {
  position: absolute;
  height: 18.34%;
  width: 0.87%;
  top: 33.42%;
  right: 23.41%;
  bottom: 48.24%;
  left: 75.72%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.about-us {
  position: absolute;
  height: 100%;
  width: 12.49%;
  top: 0;
  left: 87.51%;
  letter-spacing: 0.05em;
  display: inline-block;
}

.sub-menu-child2 {
  position: absolute;
  height: 18.34%;
  width: 0.87%;
  top: 33.42%;
  right: 3.26%;
  bottom: 48.24%;
  left: 95.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.sub-menu {
  position: absolute;
  top: 117px;
  left: 91px;
  width: 1097px;
  height: 30px;
  font-size: var(--font-size-mini);
}

.account1,
.cart-0,
.search {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
}

.cart-0,
.search {
  left: 41.6%;
}

.cart-0 {
  left: 78.24%;
}

.account {
  position: absolute;
  top: 74px;
  left: 954px;
  width: 262px;
  height: 17px;
}

.open-submenu {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s ease-in-out, transform 0.5s ease-in-out;
}
.open-submenu.active {
  opacity: 1;
  transform: translateY(-10px);
}

.open-submenu-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
}

.all,
.all-item {
  position: relative;
  top: 13.31%;
  left: 1.33%;
  font-size: var(--font-size-mini);
}

.all-item {
  top: 90.32%;
  left: 79.92%;
}

.a-aaa,
.b-bbb,
.c-ccc,
.d-ddd,
.e-eee {
  position: absolute;
  height: 12.5%;
  width: 10.58%;
  top: 28.23%;
  left: 1.95%;
  display: inline-block;
}

.b-bbb,
.c-ccc,
.d-ddd,
.e-eee {
  width: 10.66%;
  top: 40.73%;
}

.c-ccc,
.d-ddd,
.e-eee {
  height: 12.1%;
  width: 10.5%;
  top: 53.23%;
}

.d-ddd,
.e-eee {
  height: 12.5%;
  width: 10.66%;
  top: 65.32%;
}

.e-eee {
  width: 10.58%;
  top: 77.82%;
}

.garrett-sears-rxvfca3fq4i-unsp-icon,
.open-submenu-item {
  position: absolute;
  height: 84.68%;
  width: 33.13%;
  top: 5.65%;
  bottom: 9.68%;
}

.open-submenu-item {
  right: 0.94%;
  left: 65.94%;
  background-color: var(--color-gainsboro-100);
}

.garrett-sears-rxvfca3fq4i-unsp-icon {
  right: 1.02%;
  left: 65.86%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.open-submenu {
  position: absolute;
  top: 146px;
  left: 0;
  width: 1280px;
  height: 248px;
  color: var(--color-black);
}

.menu-icon {
  position: absolute;
  height: 45.58%;
  width: 2.31%;
  top: 20.65%;
  right: -0.12%;
  bottom: 33.76%;
  left: 97.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.child {
  position: absolute;
  height: 76%;
  width: 100%;
  top: 24%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
}

.child,
.div1,
.item {
  box-sizing: border-box;
}

.item {
  position: absolute;
  height: 48%;
  width: 31.82%;
  top: 0;
  right: 31.82%;
  bottom: 52%;
  left: 36.36%;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-100);
}

.div1 {
  position: relative;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 2px solid var(--color-white);
  width: 30px;
  height: 28.57px;
}

.div {
  position: absolute;
  height: 62.11%;
  width: 2.48%;
  top: 19.57%;
  right: 97.52%;
  bottom: 18.32%;
  left: 0;
}

.dev {
  top: 0;
  left: 45.75%;
  letter-spacing: 0.5em;
}

.dev,
.titls {
  position: absolute;
}

.titls {
  top: 10px;
  left: 37px;
  width: 1211px;
  height: 46px;
  font-size: 32px;
}

.header {
  top: 39px;
  height: 394px;
  font-size: var(--font-size-xs);
}

.header,
.px-1-child,
.px-1-item {
  position: absolute;
  left: 0;
  width: 1280px;
}

.px-1-child {
  top: 0;
  background-color: var(--color-gainsboro-100);
  height: 40px;
}

.px-1-item {
  top: 1273px;
  background-color: transparent;
  height: 348px;
}

.px-1-inner {
  position: absolute;
  top: 1333px;
  left: 142px;
  width: 326px;
  height: 224px;
}

.frame-child,
.px-1-inner,
.rectangle-div {
  background-color: var(--color-gainsboro-100);
}

.rectangle-div {
  position: absolute;
  top: 1335px;
  left: 788px;
  width: 326px;
  height: 224px;
}

.frame-child {
  position: relative;
  width: 422px;
  height: 237px;
}

.rectangle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 212px;
}

.px-1-inner1 {
  position: absolute;
  top: 612px;
  left: 0;
  height: 427px;
  display: flex;
  flex-direction: column;
  padding: 95px 106px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.px-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1813px;
  overflow-x: auto;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-white);
  font-family: var(--font-istok-web);
}/*# sourceMappingURL=style.css.map */